# Byte-compiled / optimized / DLL files
__pycache__/
#Mongo
/Mongo/*
mongodb.log*
#LINEB_BOT
hoge
#html
src/flaskr/templates/old_*index.html
hoge
.ipynb_checkpoints
**/.DS_Store
**/.idea
memo.txt
src/shelter_data.csv

*.ipynb
