# Byte-compiled / optimized / DLL files
__pycache__/
#Mongo
/Mongo/*
/Mongo2/*
!.git_keep
mongodb.log*
#LINEB_BOT
hoge
#html
src/flaskr/templates/old_*index.html
hoge
.ipynb_checkpoints
**/.DS_Store
**/.idea
memo.txt
src/shelter_data.csv
src/data_shelter.csv
src/.tags
src/.tags1
sub_log
*.ipynb
setup.sh
env_data.json
