{% extends "bootstrap/base.html" %}
{% block title %}Shelter Summary Information{% endblock %}
{% block content %}

  <div class="container">
    <div class="row">
        <div class="col-lg-11"><h1 class="text-muted">Sample Page</h1></div>
        <div class="col-lg-1">
            <h1>
                <form action="" method="get" class="form-inline">
                    <button type="submit" class="btn btn-default">更新</button>
                </form>

            </h1>
        </div>
    </div>
    <mark>このHPは避難所のセンシングデータを返します</mark>
    <br>
    <a href="./detail.html">詳細情報</a>   <a href="./summary.html">要約情報</a>
    <br>
    <br>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th class="col-xl-2">避難所名</th>
          <th class="col-xl-10">発生課題</th>
        </tr>
        </thead>
        <tbody>
          {% for entry in summary_entries %}
          <tr>
            <td>{{ entry.name }}</td>
            {% for problem in entry.problem %}
            <td class="col-xl-1">{{ problem }}</td>
            {% else %}
            <td class="col-xl-1">特にない</td>
            {% endfor %}
          </tr>
          {% else %}
          <td>ない</td>
          {% endfor %}
        </tbody>
    </table>

    登録されたLINEIDたち
    <table class = "table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th class="col-lg-1">ユーザー名</th>
          <th class="col-lg-3">メッセージ</th>
          <th class="col-lg-1">送信</th>
        </tr>
      </thead>
      <tbody>
        {% for line in Line_entries %}
        <tr>
          <form class="" action="" method="post">
            <input type="hidden" name="user_id" value={{ line.user_id }}>
            <td class="col-lg-1">{{ line.user_name }}</td>
            <td><input type="text" name="message" class="form-control"></td>
            <td class="col-lg-1"><button type="submit" class="btn btn-default">テスト</button></td>
          </form>
        </tr>
        {% else %}
        <td>LINEIDの登録者は0人でしたぁ。。。</td>
        {% endfor %}
      </tbody>

    </table>

  </div>

{% endblock %}
