{% extends "bootstrap/base.html" %}
{% block title %}Shelter Summary Information{% endblock %}
{% block content %}

  <div class="container">
    <div class="row">
        <div class="col-lg-11"><h1 class="text-muted">Sample Page</h1></div>
        <div class="col-lg-1">
            <h1>
                <form action="" method="get" class="form-inline">
                    <button type="submit" class="btn btn-default">更新</button>
                </form>

            </h1>
        </div>
    </div>
    <mark>このHPは避難所のセンシングデータを返します</mark>
    <br>
    <a href="./detail.html">詳細情報</a>   <a href="./summary.html">要約情報</a>
    <br>
    <br>

    <div class="table table-striped table-bordered table-hover">
      <table>
        <tr>
          <th class="col-xl-2">避難所名</th>
          <th class="col-xl-10">発生課題</th>
        </tr>
        {% for entry in summary_entries %}
        <tr>
          <td>{{ entry.name }}</td>
          {% for problem in summary_entries.problem %}
          <td>problem</td>
          {% endfor %}
        </tr>
        {% else %}
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}
